#pista, #cadeira-inferior, #cadeira-superior, #arquibancada {
    cursor: pointer;
    transition: fill 0.3s, stroke 0.3s;
    stroke-width: 2px;
}

path {
    vector-effect: non-scaling-stroke;
}

/* Melhorar aparencia do status */
.status-disponivel {
    stroke: #27ae60;
    stroke-width: 10;
}

.status-esgotando {
    stroke: #f39c12;
    stroke-width: 10;
} 


.status-esgotado {
    stroke: #c0392b;
    stroke-width: 10;
}